/*Bootbox vertical align*/
.bootbox.modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* CSS Loader */
.loader.is-active {
    background-color: rgba(0,0,0,.5);
}